<div id="middleBox" class="col-xs-12 col-sm-offset-6 col-lg-10 col-centered">
<div id="mainBox">
<div id="main-material" class="transDiv">
<center>
<img src="logo-small.png" class="img-responsive" alt="Welcome to SpaceAccounts"/>
          <h4>Cloud Invoicing and Accounting System</h4>
          <h4>with a Bitcoin Capital Gains Ledger</h4>

 <div>
  <h3>Request an Beta invite:</h3>
          <div id="form" class="large-12 columns">
            <form action="https://docs.google.com/a/allstruck.com/forms/d/1M2l3GJImcr5ulm0E_-iwI38Va5gYiXQ9OKU46YNZx1U/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
            <input placeholder="Name" type="text" name="entry.363353653" value="" class="ss-q-short form-control" id="entry_363353653" dir="auto" aria-label="Name  " title="">
            <BR>
            <input placeholder="Email" type="text" name="entry.225309198" value="" class="ss-q-short form-control" id="entry_225309198" dir="auto" aria-label="Email  " title="">
            <input type="hidden" name="draftResponse" value="[,,&quot;-4026239485888632010&quot;]">
            <BR>
            <input type="hidden" name="pageHistory" value="0">


            <input type="hidden" name="fbzx" value="-4026239485888632010">
            <input type="submit" name="submit" value="Sign Up" id="ss-submit" class="btn btn-primary">
            </form>
 </div>  
</center>
</div>
</div>
</div>